.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: 32px;
}

.cards>ul>li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dadada;

  &.dark-card {
    background-color: var(--nsw-brand-dark);
    color: white;
  }

  &.light-pink-card {
    background-color: var(--nsw-brand-light); // Make sure this variable is defined
  }
}

.cards .cards-card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 32px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .button-container {
  margin-top: auto;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.dark-card {}

.white-text {}